# Environment Variables Configuration
NEXT_PUBLIC_API_URL=http://cangkuangkulonkkn.full.diskon.cloud/api
NEXT_PUBLIC_BACKEND_URL=http://cangkuangkulonkkn.full.diskon.cloud
BACKEND_URL=http://cangkuangkulonkkn.full.diskon.cloud
NEXT_PUBLIC_APP_URL=http://cangkuangkulonkkn.full.diskon.cloud

# OpenRouter API Configuration
OPENROUTER_API_KEY=

# Firebase Realtime Chat Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBmLooU6qiHnsMDC-FUtouyk0X8ei3V1kU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=dietcaresalma.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://dietcaresalma-default-rtdb.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=dietcaresalma
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=dietcaresalma.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=15356033365
NEXT_PUBLIC_FIREBASE_APP_ID=1:15356033365:web:2b514051f31f238a3097dc
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-K5J0TYXS0J
